<p id="notice"><%= notice %></p>

<h1>Klasas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Specialatk</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @klasas.each do |klasa| %>
      <tr>
        <td><%= klasa.name %></td>
        <td><%= klasa.description %></td>
        <td><%= klasa.specialatk %></td>
        <td><%= link_to 'Show', klasa %></td>
        <td><%= link_to 'Edit', edit_klasa_path(klasa) %></td>
        <td><%= link_to 'Destroy', klasa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Klasa', new_klasa_path %>
